body {
    border: 0px;
    margin: 0px;
}

#navigation-bar{
    width: 100%;
    height: 3em;
    border: 0px;
    padding: 0px;
    background-color: #321997;
    display: grid;
    grid-template-columns: 0.1fr 0.8fr 0.1fr;
}

#user-icon > img {
    width: 2.5em;
    height: 2.5em;
}

#page-content {
    background-color: #f5f4ff70;
    padding-inline: 0.5em;
    padding-top: 0.5em;
}